
.result {
 position: absolute;
 left: 0;
 top: 0;
 width: 100vw;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 background-color: rgba(0, 0, 0, 0.2);
}

.result .text {
  width: 300px;
  box-sizing: border-box;
  border: 2px solid #fff;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.7);
}

.result .text .title {
  font-size: 30px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.result .text .title h2 {
  margin: 0;
}

.result .text .title .win b {
  color: #ff9000;
}

.result .text .title .lose b {
  color: #6e6e6e;
}

.result .text .title .lose span {
  color: #ff9000;
  font-size: 20px;
}

.result .staff {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.result .staff ul {
  padding-left: 12px;
  list-style: none;
  flex: 1;
}

.result .staff ul li {
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 16px;
  color: #fff;
  padding: 4px 0;
}

.result .staff ul li img {
  width: 24px;
  margin-right: 4px;
  vertical-align: middle;
}

.result h3 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #fff;
  color: #fff;
  font-size: 12px;
}

.result h3 a {
  color: #fff;
  text-decoration: underline;
}

.result .icon {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  vertical-align: middle;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.normal-weapon-icon {
  background-image: url(../../assets/image/normal-weapon.png);
}

.fire-weapon-icon {
  background-image: url(../../assets/image/fire-weapon.png);
}

.water-weapon-icon {
  background-image: url(../../assets/image/water-weapon.png);
}

.wood-weapon-icon {
  background-image: url(../../assets/image/wood-weapon.png);
}

.eva-icon {
  background-image: url(../../assets/image/eva.png);
}

.normal-enemy-icon {
  background-image: url(../../assets/image/normal-enemy.png);
}

.fire-enemy-icon {
  background-image: url(../../assets/image/fire-enemy.png);
}

.water-enemy-icon {
  background-image: url(../../assets/image/water-enemy.png);
}

.wood-enemy-icon {
  background-image: url(../../assets/image/wood-enemy.png);
}

.brand-icon {
  width: 50px!important;
  height: 50px!important;
  background-image: url(../../assets/image/brand.png);
}

.result .button {
  margin: 30px;
  font-size: 30px;
  padding: 10px 0;
  border: 2px solid #fff;
  border-radius: 8px;
  width: 300px;
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}