.weapon_card {
  position: relative;
  padding: 0 calc(16*var(--baseViewport));
  width: calc(630*var(--baseViewport));
  height: calc(356*var(--baseViewport));
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.weapon_card .weapon_card-intro {
  position: relative;
  margin: calc(18*var(--baseViewport));
  width: calc(239*var(--baseViewport));
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.weapon_card-intro .weapon_card-img_wrap {
  position: relative;
  width: calc(203*var(--baseViewport));
  height: calc(203*var(--baseViewport));
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/image/weapon_detail_building_bg.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.weapon_card-intro .weapon_card-img_wrap .weapon_card-img {
  position: relative;
  width: calc(203*var(--baseViewport));
  height: calc(203*var(--baseViewport));
}

.weapon_card-intro .weapon_card-img_wrap .weapon_card-badge {
  position: absolute;
  top: -calc(18*var(--baseViewport));
  left: -calc(18*var(--baseViewport));
  width: calc(36*var(--baseViewport));
  height: calc(36*var(--baseViewport));
}

.weapon_card-intro .weapon_card-upgrade_wrap {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: calc(20*var(--baseViewport));
  font-family: PingFangSC-Semibold;
  font-size: calc(28*var(--baseViewport));
  color: #ffffff;
}

.weapon_card-upgrade_wrap .weapon_card-drowngrade {
  position: relative;
  width: calc(43*var(--baseViewport));
  height: calc(43*var(--baseViewport));
  background-image: url('../../assets/image/downgrade.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.weapon_card-upgrade_wrap .weapon_card-upgrade {
  position: relative;
  width: calc(43*var(--baseViewport));
  height: calc(43*var(--baseViewport));
  background-image: url('../../assets/image/upgrade.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.weapon_card-intro .weapon_card-lv {
  position: relative;
  margin: 0 calc(10*var(--baseViewport));
}

.weapon_card .weapon_card-body {
  position: relative;
  height: 100%;
  padding: calc(45*var(--baseViewport)) calc(10*var(--baseViewport));
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: #ffffff;
}

.weapon_card-body .weapon_card-title {
  position: relative;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  font-family: PingFangSC-Semibold;
  font-size: calc(36*var(--baseViewport));
  color: #ffffff;
}
.weapon_card-title .weapon_card-cost_wrap {
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
}

.weapon_card-body .weapon_card-unit {
  position: relative;
  margin-right: calc(10*var(--baseViewport));
  width: calc(45*var(--baseViewport));
  height: calc(45*var(--baseViewport));
  background-image: url('../../assets/image/coin.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.weapon_card-body .weapon_card-info {
  position: relative;
  width: calc(340*var(--baseViewport));
  margin-top: calc(18*var(--baseViewport));
  font-family: PingFangSC-Semibold;
  font-size: calc(24*var(--baseViewport));
  color: #ffffff;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}